@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
*
{
 margin: 0;
 padding: 0;   
}

nav{
  background-color:black;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.active{
  background-color:red;
}

