@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
*
{
 margin: 0;
 padding: 0;   
}

nav{
  background-color:black;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.active{
  background-color:red;
}

.page1{
  width:780px;
  height:1000px;
  margin:20px;
  background-color:red;
  padding-top:1px;
}
.page1e{
  width:200px;
  height:200px;
  margin:20px 20px 20px 40px;
  background-color:black;
  display: inline-block;
}
.page1g{
  width:200px;
  height:200px;
  margin:20px 20px 20px 30px;
  background-color:black;
  display: inline-block;
}
.page1h{
  width:200px;
  height:200px;
  margin:20px 10px 20px 30px;
  background-color:black;
  display: inline-block;
}
.page1m{
  width: 200px;
  height: 200px;
  background-color:yellow;
  display: inline-block;
  border-radius: 50%;
}
.page1l{
  width: 200px;
  height: 200px;
  background-color:yellow;
  display: inline-block;
  border-radius: 50%;
}
.page1z{
  width: 200px;
  height: 200px;
  background-color:yellow;
  display: inline-block;
  border-radius: 50%;
}
.page1k{
  width: 300px;
  height: 300px;
  margin: 10px 15px 10px 60px;
  background-color: blue;
  display: inline-block;
}
.page1v{
  width: 300px;
  height: 300px;
  margin: 10px 15px 10px 35px;
  background-color: blue;
  display: inline-block;
}
.page1ñ{
  width: 300px;
  height: 300px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page1ñ{
  width: 300px;
  height: 300px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page1t{
  width: 700px;
  height: 415px;
  margin: 10px 20px 15px 35px;
  background-color: saddlebrown;
  padding-top: 1px;
}
.page1u{
  width: 200px;
  height: 400px;
  background-color: firebrick;
  margin: 10px 15px 15px 15px;
  display: inline-block;
}
.page1u{
  width: 200px;
  height: 400px;
  background-color: firebrick;
  margin: 10px 15px 15px 15px;
  display: inline-block;
}
.page1u{
  width: 200px;
  height: 400px;
  background-color: firebrick;
  margin: 10px 15px 15px 15px;
  display: inline-block;
}
.page1b{
  width: 100px;
  height: 100px;
  margin:  20px 0 0 50px;
  background-color: tomato;
}
.page1b{
  width: 100px;
  height: 100px;
  margin:  20px 0 0 50px;
  background-color: tomato;
}
.page1b{
  width: 100px;
  height: 100px;
  margin:  20px 0 0 50px;
  background-color: tomato;
}
.page1x{
  width: 100px;
  height: 350px;
  margin: 30px 10px 15px 50px;
  border-radius: 50%;
  background-color: tomato;
}
.page1r{
  width: 100px;
  height: 100px;
  margin:  20px 0 0 50px;
  border-radius: 50%;
  background-color: tomato;
}
.page1r{
  width: 100px;
  height: 100px;
  margin:  20px 0 0 50px;
  border-radius: 50%;
  background-color: tomato;
}
.page1r{
  width: 100px;
  height: 100px;
  margin:  20px 0 0 50px;
  border-radius: 50%;
  background-color: tomato;
}
/*page2*/
.page2{
  width: 800px;
  height: 1000px;
  margin: 25px;
  padding-top: 1px;
  background-color: black;
}
.page2a{
  width:350px;
  height:350px;
  margin: 30px 20px 30px 30px;
  display: inline-block;
  background-color:red;
}
.page2a{
  width:350px;
  height:300px;
  margin: 30px 10px 30px 30px;
  display: inline-block;
  background-color:red;
}
.page2b{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2b{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2b{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2b{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2c{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2c{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2c{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2c{
  width: 120px;
  height: 120px;
  margin: 15px 10px 10px 30px;
  background-color: green;
  display: inline-block;
  border-radius: 50%;
}
.page2d{
  width:400px ;
  height:250px;
  margin:30px 0 0 200px;
  background-color:firebrick ;
}
.page2e{
  width: 180px;
  height: 180px;
  margin: 30px 0 0 10px;
  background-color: lawngreen;
  display: inline-block;
  border-radius: 50%;
}
.page2e{
  width: 185px;
  height: 185px;
  margin: 40px 0 0 10px;
  background-color: lawngreen;
  display: inline-block;
  border-radius: 50%;
}
.page2f{
   width:150px;
   height:300px;
   margin:35px 0 0 10px;
   display: inline-block;
   background-color: teal;
}
.page2f{
  width:150px;
  height:300px;
  margin:35px 0 0 10px;
  display: inline-block;
  background-color: teal;
}
.page2f{
  width:150px;
  height:300px;
  margin:35px 0 0 10px;
  display: inline-block;
  background-color: teal;
}
.page2g{
  width: 290px;
  height: 300px;
  margin: 35px 0 0 10px;
  display: inline-block;
  background-color: teal;
  display: inline-block;
  vertical-align: top;
}
.page2h{
  width: 125px;
  height:250px;
  margin: 20px 0 0 15px;
  background-color: yellow;
  border-radius: 50%;
}
.page2i{
  width:120px;
  height:120px;
  margin: 20px 0 0 15px;
  display: inline-block;
  background-color: yellow;
  border-radius: 50%;
}
/*page3*/
.page3{
  width:900px;
  height:1200px;
  margin: 20px;
  background-color: green;
  padding-top: 1px;
}
.page3a{
  width:420px;
  height:420px;
  margin:10px 0 0 20px;
  display: inline-block;
  background-color: fuchsia;
  vertical-align: top;
  
}
.page3b{
  width:370px;
  height:370px;
  margin: 20px 0 0 20px;
  background-color: black;
  padding-top: 1px;
}
.page3c{
  width:340px;
  height:340px;
  margin: 15px 0 0 15px;
  background-color: blue;
}
.page3d{
  width:90px;
  height:90px;
  margin:50px 0 0 15px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
}
.page3e{
  width:90px;
  height:90px;
  margin:50px 0 0 15px;
  background-color: red;
  display: inline-block;
}
.page3f{
  width: 90px;
  height: 90px;
  margin: 50px 0 0 15px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
}
.page3g{
  width:850px;
  height:350px;
  margin:20px;
  background-color: yellow;
  padding-top: 1px;
}
.page3h{
  width:815px;
  height:310px;
  margin:20px;
  background-color: blue;
  padding-top:1px;
}
.page3i{
  width:300px;
  height:290px;
  margin:10px;
  background-color:red;
  display: inline-block;
  vertical-align: top;
}
.page3j{
  width:270px;
  height:290px;
  margin:10px;
  background-color:red; 
  display: inline-block;
}
.page3k{
  width:170px;
  height:290px;
  margin:10px;
  background-color: red;
  display: inline-block;
}
.page3o{
  width:110px;
  height:250px;
  margin: 18px;
  background-color:maroon;
  display: inline-block;
  border-radius: 50%;
}
.page3m{
  width:250px;
  height:110px;
  margin: 18px;
  background-color:maroon;
  border-radius: 50%;
}
.page3p{
  width:100px;
  height:100px;
  margin: 35px;
  background-color:maroon;
  border-radius: 50%;
}
.page3q{
  width:850px;
  height:350px;
  margin:20px;
  background-color: magenta;
  padding-top: 1px;
}
.page3r{
  width:820px;
  height:320px;
  margin:10px;
  background-color: orange;
  padding-top: 1px;
}
.page3s{
  width: 790px;
  height:300px;
  margin: 10px;
  background-color: orangered;
  padding-top: 1px;
}
.page3t{
  width: 750px;
  height:260px ;
  margin:15px ;
  background-color:saddlebrown; 
}
.page3u{
  width: 110px;
  height: 110px;
  margin: 65px 10px 10px 25px;
  background-color:black ;
  display: inline-block;
  border-radius: 50%;
}
/*page4*/
.page4{
  width:950px;
  height:1360px;
  margin:20px;
  background-color: black;
}
.page4a{
  width:145px;
  height:250px;
  margin: 10px;
  background-color: #FF8800;  
  display: inline-block;
}
.page4b{
  width: 85px;
  height: 250px;
  margin: 10px;
  background-color:  #FF8800;
  display: inline-block;
}
.page4c{
  width:100px;
  height:100px;
  margin:15px 0 0 20px;
  background-color:blue;
  border-radius: 50%;
}
.page4d{
  width:110px;
  height:215px;
  margin:15px 0 0 15px;
  background-color: blue;
  border-radius: 50%;
}
.page4e{
  width:340px;
  height:350px;
  margin:10px;
  background-color:blue; 
  display: inline-block;
  vertical-align: top;
}
.page4f{
  width:560px;
  height:350px;
  margin:10px;
  background-color:blue; 
  display: inline-block;
}
.page4g{
  width:320px;
  height:95px;
  margin:10px;
  background-color: #FF8800;
  padding-top: 1px;
}
.page4h{
  width: 120px;
  height:210px;
  margin:10px 0 0 30px;
  background-color:#FF8800 ;
  display: inline-block;
}
.page4i{
  width:300px;
  height:70px;
  margin:10px 0 0 10px;
  background-color: blue;
  border-radius: 50%;
}
.page4j{
  width:70px;
  height:200px;
  margin:5px 0 10px 25px;
  background-color: blue;
  border-radius: 50%;
}
.page4k{
  width:80px;
  height:80px;
  margin:15px 0 0 20px;
  background-color:blue;
  border-radius: 50%;
}
.page4l{
  width:539px;
  height:330px;
  margin:10px ;
  background-color:#FF8800 ;
  padding-top: 1px;
}
.page4m{
  width:519px;
  height:309px;
  margin:10px;
  background-color: blue;
  padding-top: 1px;
}
.page4n{
  width:150px;
  height:290px;
  margin:10px;
  background-color:#FF8800; 
  display: inline-block;
}
.page4ñ{
  width:100px;
  height:100px;
  margin:80px 0 0 25px;
  background-color:blue;
  border-radius: 50%;
}
.page4o{
  width:280px;
  height:320px;
  margin: 10px;
  background-color: #FF8800;
  display: inline-block;
}
.page4p{
  width:300px;
  height:320px;
  margin:10px;
  background-color: #FF8800;
  display: inline-block;
}
.page4q{
  width:255px;
  height:295px;
  margin:10px;
  background-color:blue ;
  padding-top: 1px;
}
.page4r{
  width:190px;
  height:135px;
  margin:10px 0 0 25px;
  background-color:#FF8800;
  padding-top: 1px;
}
.page4t{
  width:190px;
  height:135px;
  margin:10px 0 0 25px;
  background-color:#FF8800;
  border-radius: 50%;
}
.page4u{
  width:110px;
  height:110px;
  margin:10px 0 0 35px;
  background-color:blue;
  border-radius: 50%;
}
.page4v{
  width:280px;
  height:300px;
  margin:10px;
  background-color:blue;
  padding-top: 1px;
}
.page4w{
  width:260px;
  height:275px;
  margin:10px;
  background-color:#FF8800 ;
  border-radius: 50%;
}
.page4x{
  width:190px;
  height:135px;
  margin:10px 0 0 45px;
  background-color:#FF8800;
  border-radius: 50%;
}
.page4y{
  width:190px;
  height:135px;
  margin:10px 0 0 45px;
  background-color:#FF8800;
  padding-top: 1px;
}
.page4z{
  width:925px;
  height:240px;
  margin:10px;
  background-color:blue;
  padding-top: 1px;
}
.page42{
  width:170px;
  height:170px;
  margin: 30px 0 0 10px;
  background-color: #FF8800;
  display: inline-block;
}
.page41{
  width:150px;
  height: 150px;
  margin: 10px;
  background-color: blue;
  border-radius: 50%;
}
.page43{
  width:150px;
  height:60px;
  margin: 17px 0 0 10px;
  background-color: blue;
  border-radius: 50%;
}
/*page5*/
.page5{
  width:1000px;
  height:1300px;
  margin:20px;
  background-color: maroon;
  padding-top: 1px;
}
.page5a{
  width: 300px;
  height:950px;
  margin:15px 0 0 20px;
  background-color:gold;
  display: inline-block;
  vertical-align: top; 
}
.page5b{
  width:115px;
  height:220px;
  margin:10px 0 0 20px;
  background-color:red;
  display: inline-block;
}
.page5c{
  width:100px;
  height:100px;
  margin:5px 0 0 10px;
  background-color: black;
  border-radius: 50%;
}
.page5d{
  width:100px;
  height:200px;
  margin:10px 5px 0 8px;
  background-color:black;
  border-radius: 50%;
}
.page5e{
  width:265px;
  height:150px;
  margin:10px 0 0 15px;
  background-color: red;
}
.page5f{
  width:110px;
  height:110px;
  margin:20px 0 0 15px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.page5g{
  width:80px;
  height:80px;
  margin:20px 0 0 20px;
  background-color: black;
  border-radius: 50%;
}
.page5h{
  width:265px;
  height:290px;
  margin:10px 0 0 15px;
  background-color: red;
}
.page5i{
  width:95px;
  height:95px;
  margin:10px 0 0 25px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
}
.page5j{
  width:80px;
  height:50px;
  margin:10px 0 0 92px;
  background-color:black;
}
.page5k{
  width:190px;
  height:95px;
  margin:10px 0 0 40px;
  background-color:black;
}
.page5l{
  width:265px;
  height:290px;
  margin:10px 0 0 15px;
  background-color: red;
}
.page5m{
  width:95px;
  height:95px;
  margin:10px 0 0 25px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
}
.page5n{
  width:50px;
  height:80px;
  margin:5px 0 0 110px;
  background-color:black;
}
.page5ñ{
  width:190px;
  height:80px;
  margin:10px 0 0 40px;
  background-color:black;
}
.page5o{
  width:125px;
  height:230px;
  margin:10px;
  background-color:red;
  display: inline-block;
}
.page5p{
  width:100px;
  height:100px;
  margin:10px 0 0 15px;
  background-color:black ;
  border-radius: 50%;
}
.page5q{
  width:110px;
  height:200px;
  margin:10px 0 0 25px;
  background-color: red;
  display: inline-block;
}
.page5r{
  width:95px;
  height:180px;
  margin:10px 0 0 8px;
  background-color:black;
  display: inline-block;
  border-radius: 50%;
}
.page5s{
  width:150px;
  height:160px;
  margin:10px;
  background-color:red ;
  display: inline-block;
}
.page5t{
  width:105px;
  height:160px;
  margin:10px 0 0 10px ;
  background-color:red ;
  display: inline-block;
  vertical-align: top;
}
.page5u{
  width:120px;
  height:120px;
  margin:20px 0 0 15px;
  background-color: black;
  border-radius: 50%;
}
.page5v{
  width:85px;
  height:135px;
  margin:10px;
  background-color: black;
  border-radius: 50%;
}
.page5x{
  width:275px;
  height:220px;
  margin:5px 0 0 10px;
  background-color: red;
}
.page5y{
  width:275px;
  height:220px;
  margin:5px 0 0 10px;
  background-color: red;
  padding-top: 1px;
}
.page5z{
  width: 85px;
  height: 85px;
  margin: 10px 0 0 30px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
}
.page51{
  width:250px;
  height:95px;
  margin:10px 0 0 10px;
  background-color: black;
  padding-top: 1px;
}
.page52{
  width:100px;
  height:100px;
  margin:10px 0 0 85px ;
  background-color: black;
  border-radius: 50%;
}
.page53{
  width:225px;
  height:70px;
  margin:10px;
  background-color: red;
  border-radius: 50%;
}
.page54{
  width:140px;
  height:280px;
  margin:10px;
  background-color:red ;
  display: inline-block;
}
.page55{
  width:100px;
  height:280px;
  margin:10px;
  background-color:red ;
  display: inline-block;
}
.page56{
  width: 75px;
  height: 75px;
  margin: 10px 0 0 25px ;
  background-color: black;
  border-radius: 50%;
}
.page57{
  width:980px;
  height:295px;
  margin:20px 0 0 10px;
  background-color:gold; 
}
.page58{
  width:275px;
  height:260px;
  margin:15px 0 0 10px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
}
.page59{
  width:100px;
  height:100px;
  margin:10px 0 0 25px;
  background-color:black;
  display: inline-block;
  border-radius: 50%;
}
.page511{
  width:250px;
  height:100px;
  margin: 20px 0 0 15px; 
  background-color:black ;
  border-radius: 50%;
}
.page512{
  width:387px;
  height:260px;
  margin:15px 0 0 10px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
}
.page513{
  width:370px;
  height:240px;
  margin:10px 0 0 10px;
  background-color: black;
}
.page514{
  width:100px;
  height:100px;
  margin: 60px 0 0 15px; 
  background-color:red ;
  border-radius: 50%;
  display: inline-block;
}
/*page6*/
.page6{
  width:950px;
  height:1200px;
  margin:20px;
  background-color: rebeccapurple;
}
.page6a{
  width:240px;
  height:240px;
  margin:10px;
  background-color:blue;
  display: inline-block;
  vertical-align: top;
}
.page6b{
  width:400px;
  height:240px;
  margin:10px;
  background-color:blue;
  display: inline-block;
}
.page6c{
  width:95px ;
  height:95px;
  margin:10px;
  background-color:yellow; 
  display: inline-block;
  border-radius: 50%;
}
.page6d{
  width:50px;
  height:50px;
  margin:13px -47px 0 44px;
  background-color: yellow;
  display: inline-block;
}
.page6e{
  width:105px;
  height:105px;
  margin:65px 0 0 20px;
  background-color: yellow;
  display: inline-block;
}
.page6f{
  width:75px;
  height:75px;
  margin:15px 0 0 16px ;
  background-color:red;
  display: inline-block;
  border-radius: 50%;
}
.page6g{
  width:200px;
  height:350px;
  margin:10px;
  background-color: yellow;
  display: inline-block;
}
.page6h{
  width:250px;
  height: 350px;
  margin:10px;
  background-color:yellow;
  display: inline-block;
}
.page6i{
  width:150px;
  height:150px;
  margin:15px 0 0 20px ;
  background-color:red;
  border-radius: 50%;
}
.page6j{
  width:100px;
  height:100px;
  margin:15px 0 0 50px ;
  background-color:red;
  border-radius: 50%;
}
.page6k{
  width:220px;
  height:220px;
  margin:50px 0 0 20px ;
  background-color:red;
  border-radius: 50%;
}
.page6m{
  width:100px;
  height:100px;
  margin:15px 0 0 50px;
  background-color:red;
  padding-top: 1px;
}
.page6n{
  width: 70px;
  height: 70px;
  margin: 15px 0 0 15px;
  background-color: black;
  border-radius: 50%;
}
.page6ñ{
  width:100px;
  height:190px;
  margin: 15px 0 0 50px;
  background-color: red;
  vertical-align: top;
  padding-top: 1px;
}
.page6o{
  width:919px ;
  height:528px;
  margin:10px;
  background-color:black ;

}
.page6p{
  width:206px;
  height:240px;
  margin:10px;
  background-color:blue;
  display: inline-block;
  vertical-align: top;
}
.page6q{
  width:95px ;
  height:95px;
  margin:10px 0 0 50px;
  background-color:yellow; 
  display: inline-block;
  border-radius: 50%;
}
.page6r{
  width:30px;
  height:30px;
  margin:10px -36px -67px -30px;
  background-color: yellow;
  display: inline-block;
}
.page6s{
  width:436px;
  height:250px;
  margin:10px;
  background-color: red;
  display:inline-block;
}
.page6t{
  width:415px;
  height:230px;
  margin:10px;
  background-color:beige;
}
.page6u{
  width:120px;
  height:120px;
  margin:50px 0 0 10px;
  background-color:fuchsia;
  display: inline-block;
  border-radius: 50%;
}